.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.para {
  margin-top: 0px;
  margin-right: 10px;
}
.button {
  text-align: center;
  height: 30px;
}

.button {
  border: 1px solid #ff8542;
  background-color: white;
  border-radius: 8px;
  color: #ff0b37;
  cursor: pointer;
  outline: none;
}
